@import 'tailwindcss';
body {
  font-family: 'Switzer', sans-serif;
}

@layer components {
  .align-element {
    @apply mx-auto max-w-7xl px-8;
  }
}

.marquee {
  /* font-family: 'Poppins', sans-serif;
  font-weight: 800; */
  font-family: 'Press Start 2P', system-ui;
  font-weight: 400;
  font-style: normal;
}

#name {
  font-family: 'Grechen Fuemen', cursive;
  font-weight: 400;
  font-style: normal;
}

.responsive-br {
  display: none;
}

@media (max-width: 1091px) {
  .responsive-br {
    display: block;
  }
}
